<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mvn.foodInfoMapper">
	<select id="selectFoodInfos"
		resultType="com.web.dto.foodInfoDTO">
		SELECT FI_NUM, FI_NAME, FI_PRICE
		FROM FOOD_INFO
		<where>
			<if test='fiName != null and fiName !=""'>
				AND FI_NAME LIKE CONCAT('%','#{fiName}','%')
			</if>
			<if test='fiPrice != null and fiPrice != 0'>
				AND FI_PRICE = #{fiPrice}
			</if>
		</where>
	</select>
	<select id="selectFoodInfo" resultType="com.web.dto.foodInfoDTO">
		select
		FI_NUM,FI_NAME,FI_PRICE
		from FOOD_INFO
		WHERE=#{fiNum}
	</select>
	<insert id="insertFoodInfo">
		insert into FOOD_INFO(FI_NAME,FI_PRICE)
		values('#{fiName}','#{fiPrice}');
	</insert>
	<delete id="deleteFoodInfo">
		delete from FOOD_INFO
		where FI_NUM=#{fiNum}
	</delete>
	<update id="updateFoodInfo">
		update USER_INFO 
		set FI_NAME = #{fiName}, FI_Price = #{fiPrice} 
		where FI_NUM=#{fiNum}
	</update>
</mapper>