<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mvn.userInfoMapper">
	<select id="selectUserInfos" resultType="com.web.dto.userInfoDTO" >
		resultType="com.web.dto.userInfoDTO">
		select UI_NUM,UI_NAME,UI_ID,UI_PWD from
		USER_INFO
		<where>
			<if test='uiName != null and uiName!=""'>
				And UI_NAME LIKE CONCAT('%',#{uiName},'%')
			</if>
			<if test='uiId != null and uiName!=""'>
				And UI_NAME LIKE CONCAT('%',#{uiId},'%')
			</if>
		</where>
	</select>
	<select id="selectUserInfo" resultType="com.web.dto.userInfoDTO">
		select
		UI_NUM,UI_NAME,UI_ID,UI_PWD
		from USER_INFO
		WHERE UI_NUM = #{uiNum}
	</select>
	<insert id="insertUserInfo">
		insert into USER_INFO(UI_NAME,UI_ID,UI_PWD)
		VALUES(#{uiName},#{uiId},#{uiPwd})
	</insert>
	<update id="updateUserInfo">
		update USER_INFO
		set UI_NAME = #{uiName},
		UI_ID = #{uiId},
		UI_PWD = #{uiPwd}
		where UI_NUM=#{uiNum}
	</update>
	<delete id="deleteUserInfo">
	delete from user_info 
	where UI_NUM = #{uiNum}
	</delete>
</mapper>